//
// AOT (Animate On Trigger)
// --------------------------------------------------
.aot-init {
  overflow: hidden;
}

.aot-animate {
  animation-duration: 1s;
  animation-fill-mode: both;

  &.infinite {
    animation-iteration-count: infinite;
  }
}

.aot-hide {
  visibility: hidden;
}

// Generate Duration && Delay
[data-aot] {
  @for $i from 1 through 60 {
    &[data-aot][data-aot-duration='#{$i * 50}'] {
      animation-duration: 0ms;

      &.aot-animate {
        animation-duration: #{$i * 50}ms;
      }
    }

    body[data-aot-delay='#{$i * 50}'] &,
    &[data-aot][data-aot-delay='#{$i * 50}'] {
      animation-delay: 0ms;

      &.aot-animate {
        animation-delay: #{$i * 50}ms;
      }
    }
  }
}