//
// AOT (Animate On Trigger)
// --------------------------------------------------
aot {
  display: inherit;
  position: inherit;
}

.aot-initialized {
  overflow: hidden;
}

.aot-animate {
  animation-duration: 1s;
  animation-fill-mode: both;

  &.infinite {
    animation-iteration-count: infinite;
  }
}

.aot-hide {
  visibility: hidden;
}

// Generate Duration && Delay Max 7000ms step 100ms
[data-aot] {
  @for $i from 1 through 70 {
    &[data-aot][data-aot-duration='#{$i * 100}'] {
      animation-duration: 0ms;

      &.aot-animate {
        animation-duration: #{$i * 100}ms;
      }
    }

    body[data-aot-delay='#{$i * 100}'] &,
    &[data-aot][data-aot-delay='#{$i * 100}'] {
      animation-delay: 0ms;

      &.aot-animate {
        animation-delay: #{$i * 100}ms;
      }
    }
  }
}
